@model IEnumerable<Ahad_Project.Models.Vacancy>

@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Avaiable Jobs</h1>

                    @if (User.Identity.Name == "admin@gmail.com")
                    {


<div class="alert alert-success rounded w-50 m-lg-auto" role="alert">
    <h4 class="alert-heading text-center">Create New Job</h4>
    <p class="text-center">
        <a asp-action="Create" asp-controller="Applicants" class="btn btn-success btn-rounded width-lg waves-effect waves-light mb-2 mt-3 r" style="padding:10px 100px 10px 100px; align-items:center;" data-animation="fadein">Apply Now </a>
    </p>
</div>

                    }
<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UploadDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dep.Description)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
